.navbar {
    margin-top: 30px;
    background-color: black; /* Background color */
    overflow: hidden;
    padding-right: 30px;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Align items in a row */
    justify-content: flex-end; 
    
  }
  
  .nav-links li {
    float: left;
  }
  
  .nav-links li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
    padding: 20px;
    font-size: 28px;
  }
  
  .nav-links li a:hover {
    background-color: pink;
    color: black;
  }
  